{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"X_HYP_TOKEN": ["PRODUCTION/HYP/5ab8d3d8-6eca-4e11-9203-1b64faea1f33"], "Content-Type": ["application/json"]}, "method": "POST", "uri": "https://app.onhyp.com/api/v1/assign/fuzzybear/8"}, "response": {"body": {"encoding": "utf-8", "string": "{\"payload\": {\"variant_id\": 18, \"variant_name\": \"v2\"}, \"message\": \"success\"}"}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://app.onhyp.com/api/v1/assign/fuzzybear/8"}, "recorded_at": "2022-05-08T16:44:46"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"X_HYP_TOKEN": ["PRODUCTION/HYP/5ab8d3d8-6eca-4e11-9203-1b64faea1f33"], "Content-Type": ["application/json"]}, "method": "POST", "uri": "https://app.onhyp.com/api/v1/assign/sillybear/8"}, "response": {"body": {"encoding": "utf-8", "string": "{\"payload\": {\"variant_id\": 17, \"variant_name\": \"v1\"}, \"message\": \"success\"}"}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://app.onhyp.com/api/v1/assign/sillybear/8"}, "recorded_at": "2022-05-08T16:44:46"}, [...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"X_HYP_TOKEN": ["PRODUCTION/HYP/5ab8d3d8-6eca-4e11-9203-1b64faea1f33"], "Content-Type": ["application/json"]}, "method": "POST", "uri": "https://app.onhyp.com/api/v1/assign/sillybear/8"}, "response": {"body": {"encoding": "utf-8", "string": "{\"payload\": {\"variant_id\": 17, \"variant_name\": \"v1\"}, \"message\": \"success\"}"}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://app.onhyp.com/api/v1/assign/sillybear/8"}, "recorded_at": "2022-05-08T16:44:46"}], "recorded_with": "betamax/0.8.1"}