{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"X_HYP_TOKEN": ["foo"], "Content-Type": ["application/json"]}, "method": "POST", "uri": "https://app.onhyp.com/api/v1/assign/fuzzybear/8"}, "response": {"body": {"encoding": "utf-8", "string": "{\"payload\": \"\", \"message\": \"Missing or invalid access token.\"}"}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 401, "message": "Unauthorized"}, "url": "https://app.onhyp.com/api/v1/assign/fuzzybear/8"}, "recorded_at": "2022-05-08T16:44:46"}], "recorded_with": "betamax/0.8.1"}