{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"X_HYP_TOKEN": ["PRODUCTION/HYP/5ab8d3d8-6eca-4e11-9203-1b64faea1f33"]}, "method": "PATCH", "uri": "https://app.onhyp.com/api/v1/convert/grumpybear/8"}, "response": {"body": {"encoding": "utf-8", "string": "{\"payload\": \"\", \"message\": \"No variant assignment for participant grumpybear in experiment 8 was found. Participants must be assigned to a variant before conversion can be recorded.\"}"}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 404, "message": "Not Found"}, "url": "https://app.onhyp.com/api/v1/convert/grumpybear/8"}, "recorded_at": "2022-01-09T01:26:24"}], "recorded_with": "betamax/0.8.1"}