{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"X_HYP_TOKEN": ["foo"]}, "method": "PATCH", "uri": "https://app.onhyp.com/api/v1/convert/fuzzybear/8"}, "response": {"body": {"encoding": "utf-8", "string": "{\"payload\": \"\", \"message\": \"Missing or invalid access token.\"}"}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 401, "message": "Unauthorized"}, "url": "https://app.onhyp.com/api/v1/convert/fuzzybear/8"}, "recorded_at": "2022-01-09T01:26:23"}], "recorded_with": "betamax/0.8.1"}