{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"X_HYP_TOKEN": ["PRODUCTION/HYP/5ab8d3d8-6eca-4e11-9203-1b64faea1f33"]}, "method": "PATCH", "uri": "https://app.onhyp.com/api/v1/convert/fuzzybear/8"}, "response": {"body": {"encoding": "utf-8", "string": "{\"payload\": {\"converted\": true}, \"message\": \"success\"}"}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://app.onhyp.com/api/v1/convert/fuzzybear/8"}, "recorded_at": "2022-04-23T21:52:28"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"X_HYP_TOKEN": ["PRODUCTION/HYP/5ab8d3d8-6eca-4e11-9203-1b64faea1f33"]}, "method": "PATCH", "uri": "https://app.onhyp.com/api/v1/convert/sillybear/888"}, "response": {"body": {"encoding": "utf-8", "string": "{\"payload\": \"\", \"message\": \"No variant assignment for participant sillybear in experiment 888 was found. Participants must be assigned to a variant before conversion can be recorded.\"}"}, "headers": {"Content-Type": ["application/json"]}, "status": {"code": 404, "message": "Not Found"}, "url": "https://app.onhyp.com/api/v1/convert/sillybear/888"}, "recorded_at": "2022-04-23T21:52:28"}], "recorded_with": "betamax/0.8.1"}